:root {
    /* To encode icons back to svg file paste string "..." to 'Take encoded:' field here https://yoksel.github.io/url-encoder/ */
    --left-sidebar-width: 304px;
    /* used to be 270 */
    /* --header-height: 42px; is defined in general.css */
    /* --icon-triangle-right: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='black' d='m5 4 6.93 4L5 12V4Z'/%3e%3c/svg%3e"); */
    --icon-triangle-right: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='black' d='M5 4.24 12.53 8 5 11.76V4.24Z'/%3e%3c/svg%3e");
    --icon-dots-vertical: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='black' d='M8 1.67A1.67 1.67 0 1 0 8 5a1.67 1.67 0 0 0 0-3.33Zm0 4.66a1.67 1.67 0 1 0 0 3.34 1.67 1.67 0 0 0 0-3.34ZM8 11a1.67 1.67 0 1 0 0 3.33A1.67 1.67 0 0 0 8 11Z'/%3e%3c/svg%3e");
    --icon-interleaved-all: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='black' d='M2 2.08a.67.67 0 0 0 0 1.34h8a.67.67 0 1 0 0-1.34H2Zm-.67 3.34c0-.37.3-.67.67-.67h10a.67.67 0 0 1 0 1.33H2a.67.67 0 0 1-.67-.66Zm0 2.66c0-.37.3-.66.67-.66h12a.67.67 0 0 1 0 1.33H2a.67.67 0 0 1-.67-.67Zm0 2.67c0-.37.3-.67.67-.67h10a.67.67 0 0 1 0 1.34H2a.67.67 0 0 1-.67-.67Zm.67 2a.67.67 0 0 0 0 1.33h8a.67.67 0 1 0 0-1.33H2Z'/%3e%3c/svg%3e");
    --icon-inbox: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='black' fill-rule='evenodd' d='M11.17 2H4.83a2 2 0 0 0-1.8 1.11L.75 7.7c-.04.1-.07.2-.07.31v4a2 2 0 0 0 2 2h10.66a2 2 0 0 0 2-2V8a.66.66 0 0 0-.07-.31l-2.3-4.58a2 2 0 0 0-1.79-1.1Zm2.42 5.33L11.77 3.7a.67.67 0 0 0-.6-.37H4.83a.67.67 0 0 0-.6.37L2.4 7.33h2.92a.7.7 0 0 1 .56.3l1.13 1.7h1.96l1.13-1.7a.7.7 0 0 1 .56-.3h2.92ZM1.99 8.66V12a.67.67 0 0 0 .68.67h10.66A.67.67 0 0 0 14 12V8.66h-2.98l-1.13 1.7a.66.66 0 0 1-.56.3H6.67a.66.66 0 0 1-.56-.3l-1.13-1.7H2Z' clip-rule='evenodd'/%3e%3c/svg%3e");
    --icon-clock: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='black' fill-rule='evenodd' d='M2 8a6 6 0 1 1 12 0A6 6 0 0 1 2 8ZM8 .67a7.33 7.33 0 1 0 0 14.66A7.33 7.33 0 0 0 8 .67ZM8.67 4a.67.67 0 0 0-1.34 0v4c0 .25.15.48.37.6l2.67 1.33a.67.67 0 1 0 .6-1.2L8.66 7.6V4Z' clip-rule='evenodd'/%3e%3c/svg%3e");
    --icon-at: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='black' fill-rule='evenodd' d='M9.67.86a7.33 7.33 0 1 0 2.79 12.96.67.67 0 0 0-.81-1.06A6 6 0 1 1 14 8v.67a1.33 1.33 0 1 1-2.67 0V5.33a.67.67 0 0 0-1.33 0 3.33 3.33 0 1 0 .5 4.88 2.67 2.67 0 0 0 4.83-1.54V8A7.33 7.33 0 0 0 9.67.86ZM6 8a2 2 0 1 1 4 0 2 2 0 0 1-4 0Z' clip-rule='evenodd'/%3e%3c/svg%3e");
    --icon-at-smaller: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='black' fill-rule='evenodd' d='M9.44 1.83a6.33 6.33 0 1 0 2.41 11.2.5.5 0 0 0-.6-.8A5.33 5.33 0 1 1 13.32 8v.58a1.25 1.25 0 0 1-2.5 0V5.67a.5.5 0 1 0-1 0v.17a2.83 2.83 0 1 0 .36 3.96 2.24 2.24 0 0 0 4.14-1.22V8a6.33 6.33 0 0 0-4.9-6.17ZM6.17 8a1.83 1.83 0 1 1 3.66 0 1.83 1.83 0 0 1-3.66 0Z' clip-rule='evenodd'/%3e%3c/svg%3e");
    --icon-star: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='black' fill-rule='evenodd' d='M8 .67c.25 0 .49.14.6.37l1.9 3.86 4.26.62a.67.67 0 0 1 .37 1.14l-3.08 3 .73 4.24a.67.67 0 0 1-.97.7L8 12.6l-3.81 2a.67.67 0 0 1-.97-.7l.73-4.24-3.08-3a.67.67 0 0 1 .37-1.14L5.5 4.9l1.9-3.86A.67.67 0 0 1 8 .67Zm0 2.17L6.54 5.8a.7.7 0 0 1-.5.37l-3.27.47 2.36 2.3a.7.7 0 0 1 .2.6l-.56 3.25 2.92-1.53c.2-.1.43-.1.62 0l2.92 1.53-.55-3.25a.67.67 0 0 1 .19-.6l2.36-2.3-3.27-.47a.67.67 0 0 1-.5-.37L8 2.84Z' clip-rule='evenodd'/%3e%3c/svg%3e");
    --icon-document: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='black' d='M6.03 12.38h3.93a.65.65 0 0 0 .66-.66.64.64 0 0 0-.18-.47.63.63 0 0 0-.47-.19H6.04a.65.65 0 0 0-.67.65c0 .19.07.35.2.47.12.13.27.2.46.2Zm0-2.63h3.93a.65.65 0 0 0 .66-.65.64.64 0 0 0-.18-.47.63.63 0 0 0-.47-.2H6.04a.65.65 0 0 0-.67.66c0 .18.07.34.2.47.12.13.27.19.46.19ZM4.06 15c-.36 0-.67-.13-.93-.39a1.27 1.27 0 0 1-.38-.92V2.3c0-.36.13-.67.39-.92.25-.26.56-.39.92-.39H9.2c.18 0 .34.03.5.1.15.05.3.15.43.28l2.74 2.74a1.26 1.26 0 0 1 .38.93v8.64c0 .36-.13.67-.39.92-.25.26-.56.39-.92.39H4.06ZM8.88 4.72v-2.4H4.05v11.37h7.88V5.38h-2.4a.63.63 0 0 1-.48-.2.63.63 0 0 1-.19-.46Z'/%3e%3c/svg%3e");
    --icon-calendar-days: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg fill='black'%3e%3cpath d='M4.67 8.66c0-.36.3-.66.66-.66h.01a.66.66 0 1 1 0 1.33.67.67 0 0 1-.67-.67ZM8 8a.66.66 0 1 0 0 1.33A.66.66 0 1 0 8 8Zm2 .66c0-.36.3-.66.67-.66a.67.67 0 0 1 0 1.33.66.66 0 0 1-.67-.67Zm-4.67 2.01a.66.66 0 1 0 0 1.33h.01a.66.66 0 1 0 0-1.33Zm2 .66c0-.37.3-.66.67-.66A.66.66 0 1 1 8 12a.66.66 0 0 1-.67-.67Zm3.34-.66a.66.66 0 1 0 0 1.33.67.67 0 0 0 0-1.33Z'/%3e%3cpath fill-rule='evenodd' d='M11.33.67a.66.66 0 1 0-1.33 0v.66H6V.66a.66.66 0 1 0-1.33 0v.67H3.33a2 2 0 0 0-2 2v9.34c0 1.1.9 2 2 2h9.34a2 2 0 0 0 2-2V3.33a2 2 0 0 0-2-2h-1.34V.66Zm2 4.66v-2c0-.37-.3-.67-.66-.67h-1.34v.67a.66.66 0 1 1-1.33 0v-.67H6v.67a.66.66 0 1 1-1.33 0v-.67H3.33c-.37 0-.67.3-.67.67v2h10.68ZM2.67 6.66h10.68v6c0 .37-.3.67-.67.67H3.33a.67.67 0 0 1-.67-.66v-6Z' clip-rule='evenodd'/%3e%3c/g%3e%3c/svg%3e");
    --icon-pin: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='black' d='M5.22 2.74v.31a1 1 0 0 0 1 1h.02l-.16 4.42c-1.02 0-2.66 1.43-2.66 2.6h4.01v3.65l.65.65.65-.65v-3.66h4.03c0-1.08-1.69-2.59-2.69-2.59l-.15-4.42a1 1 0 0 0 1-1v-.3h-5.7Z'/%3e%3c/svg%3e");
    --icon-search: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='black' d='m14.27 13.17-2.94-2.94a5.47 5.47 0 1 0-1.1 1.1l2.94 2.94a.78.78 0 0 0 1.1-1.1ZM3.06 6.96a3.9 3.9 0 1 1 7.8 0 3.9 3.9 0 0 1-7.8 0Z'/%3e%3c/svg%3e");
    --icon-close: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='black' d='M14.47 2.47a.67.67 0 0 0-.94-.94L8 7.06 2.47 1.53a.67.67 0 0 0-.94.94L7.06 8l-5.53 5.53a.67.67 0 0 0 .94.94L8 8.94l5.53 5.53a.66.66 0 1 0 .94-.94L8.94 8l5.53-5.53Z'/%3e%3c/svg%3e");

    /* in icon-user-status the circle is shifted to the right */
    --icon-user-status: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3ccircle cx='10' cy='8' r='4' fill='black'/%3e%3c/svg%3e");
    --icon-user-group: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='black' d='M7.07 5.7a2.54 2.54 0 0 0-3.47.93 2.53 2.53 0 1 0 3.47-.93Zm6.46-3.59a2.54 2.54 0 0 0-3.46.93 2.53 2.53 0 1 0 3.46-.93Zm.12 7.39a2.54 2.54 0 0 0-3.46.93 2.54 2.54 0 1 0 3.46-.93Z'/%3e%3c/svg%3e");

    --transition-sidebar-all-slow: all 140ms linear;
    --transition-sidebar-all-medium: all 140ms linear;
    --transition-sidebar-all-fast: all 40ms ease-out;

    --border-empty: 1px solid transparent;

    --color-base-text: hsl(0, 0%, 0%);

    --color-sidebar-row-bg-hover: hsl(0, 0%, 97%);
    --color-sidebar-row-border-hover: hsla(0, 0%, 0%, 0.2);
    --color-sidebar-row-bg-selected: hsl(0, 0%, 100%);

    --color-clickable-icon: hsla(240, 30%, 40%, 1);
    --color-clickable-icon-hover: hsla(240, 100%, 15%, 1);
    --color-clickable-icon-hover-bg: hsla(240, 100%, 50%, 0.08);

    --color-sidebar-group-label: hsl(216, 65%, 20%);

    --color-sidebar-row-text: hsl(0, 0%, 20%);
    --color-sidebar-row-selected-text: hsl(0, 0%, 15%);
    --color-unread-count-bg: hsla(240, 10%, 50%, 0.15);
    --color-item-count-text: hsla(240, 15%, 50%, 1);
    --color-unread-count-text: hsla(240, 0%, 0%, 0.8);
    --color-topic-indent-border: hsl(0deg 0% 0% / 9%);
    --color-separator-border: hsla(0, 0%, 0%, 0.15);

    --color-main-bg-transparent: hsla(0, 0%, 94%, 0.5);

    /* use this variable abd redefine it to shift icons accordingly due to vertical alignment 
    .sidebar-group__button has 22px as min height and it is ok, but summary rowas could be higher,
    as .sidebar-group__summary and .sidebar-modal__header
    */
    --sidebar-button-default-height: 22px;
}

.dark {
    --color-base-text: hsl(0, 0%, 100%);

    --color-sidebar-row-bg-hover: hsla(0, 0%, 97%, 0.08);
    --color-sidebar-row-border-hover: hsla(0, 0%, 100%, 0.2);
    --color-sidebar-row-bg-selected: hsla(0, 0%, 100%, 0.08);

    --color-clickable-icon: hsla(240, 35%, 68%, 1);
    --color-clickable-icon-hover: hsla(240, 100%, 90%, 1);
    --color-clickable-icon-hover-bg: hsla(240, 100%, 75%, 0.2);

    --color-sidebar-group-label: hsl(216 50% 75% / 1);

    --color-sidebar-row-text: hsla(0, 0%, 100%, 75%);
    --color-sidebar-row-selected-text: hsl(0, 0%, 90%);
    --color-unread-count-bg: hsla(240, 10%, 50%, 0.35);
    --color-item-count-text: hsla(240, 15%, 60%, 1);
    --color-unread-count-text: hsla(240, 0%, 100%, 0.75);
    --color-topic-indent-border: hsl(0deg 0% 100% / 19%);
    --color-separator-border: hsla(0, 0%, 100%, 0.15);

    --color-main-bg-transparent: hsla(0, 0%, 11%, 0.5);
}


i.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    background-color: currentColor;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.icon-secondary {
    opacity: 0.5;
}

.dark .icon-secondary {
    opacity: 0.6;
}

.icon-dots-vertical {
    mask-image: var(--icon-dots-vertical);
    -webkit-mask-image: var(--icon-dots-vertical);
}

.icon-interleaved-all {
    mask-image: var(--icon-interleaved-all);
    -webkit-mask-image: var(--icon-interleaved-all);
}

.icon-inbox {
    mask-image: var(--icon-inbox);
    -webkit-mask-image: var(--icon-inbox);
}

.icon-clock {
    mask-image: var(--icon-clock);
    -webkit-mask-image: var(--icon-clock);
}

.icon-at {
    mask-image: var(--icon-at);
    -webkit-mask-image: var(--icon-at);
}

.icon-at-smaller {
    mask-image: var(--icon-at-smaller);
    -webkit-mask-image: var(--icon-at-smaller);
}

.icon-star {
    mask-image: var(--icon-star);
    -webkit-mask-image: var(--icon-star);
}

.icon-document {
    mask-image: var(--icon-document);
    -webkit-mask-image: var(--icon-document);
}

.icon-calendar-days {
    mask-image: var(--icon-calendar-days);
    -webkit-mask-image: var(--icon-calendar-days);
}

.icon-user-status {
    mask-image: var(--icon-user-status);
    -webkit-mask-image: var(--icon-user-status);
}

.icon-pin {
    mask-image: var(--icon-pin);
    -webkit-mask-image: var(--icon-pin);
}

.icon-search {
    mask-image: var(--icon-search);
    -webkit-mask-image: var(--icon-search);
}

.icon-close {
    mask-image: var(--icon-close);
    -webkit-mask-image: var(--icon-close);
}

i.icon-user-status.sidebar-row__icon._online {
    background-color: hsl(137, 42%, 47%);
}

.dark i.icon-user-status.sidebar-row__icon._online {
    background-color: hsl(137, 47%, 50%);
}

i.icon-user-status.sidebar-row__icon._idle {
    background-color: hsl(45, 56%, 63%);
}

.dark i.icon-user-status.sidebar-row__icon._idle {
    background-color: hsl(55, 41%, 32%);
}

i.icon-user-status.sidebar-row__icon._away {
    background-color: hsla(228, 10%, 50%, 0.25);
}

.dark i.icon-user-status.sidebar-row__icon._away {
    background-color: hsla(228, 10%, 70%, 0.22);
}

.icon-user-group {
    mask-image: var(--icon-user-group);
    -webkit-mask-image: var(--icon-user-group);
}


.dark .icon-online {
    background: var(--icon-status-online-dark);
}

.icon-idle {
    background: var(--icon-status-idle-light);
}

.dark .icon-idle {
    background: var(--icon-status-idle-dark);
}

.icon-away {
    background: var(--icon-status-away-light);
}

.dark .icon-away {
    background: var(--icon-status-away-dark);
}

.column-left {
    width: var(--left-sidebar-width);
    max-width: var(--left-sidebar-width);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: visible;
    display: flex;
    padding-top: var(--header-height);
}

.left-sidebar {
    position: fixed;
    width: var(--left-sidebar-width);
    padding: 4px 1px 16px 8px;
    height: calc(100% - var(--header-height));
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    scrollbar-width: thin;
    color: var(--color-base-text)
}

.left-sidebar-modal {
    position: relative;
    width: var(--left-sidebar-width);
    background-color: var(--color-main-bg-transparent);
}


.left-sidebar::-webkit-scrollbar,
.sidebar-modal-content .sidebar-modal-scrollable::-webkit-scrollbar {
    width: 8px;
    border-radius: 12px;
    background: transparent;
}

.left-sidebar::-webkit-scrollbar-thumb,
.sidebar-modal-content .sidebar-modal-scrollable::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 60%);
    border-radius: 12px;
    border: 2px solid var(--color-main-bg);
}

.left-sidebar::-webkit-scrollbar-track,
.sidebar-modal-content .sidebar-modal-scrollable::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 12px;
}

.dark .left-sidebar::-webkit-scrollbar-thumb,
.dark .sidebar-modal-content .sidebar-modal-scrollable::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 40%);
    border-color: var(--color-main-bg);
}

.dark .left-sidebar::-webkit-scrollbar-track,
.dark .sidebar-modal-content .sidebar-modal-scrollable::-webkit-scrollbar-track {
    background: transparent;
}

.sidebar-modal-content {
    background: var(--color-main-bg);
    box-shadow: 0px -4px 24px rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 0px 0px;
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: hidden;
}
.dark .sidebar-modal-content {
    box-shadow: 0px -4px 24px rgba(0, 0, 0, 0.7);
}


.sidebar-group__summary-sticky {
    background: var(--color-main-bg);
    position: sticky;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease-out;
    transition-delay: 0.1s;
}

.sidebar-group__summary-sticky._covering {
    box-shadow: 0 8px 12px -12px hsl(0deg 0% 0% / 80%);
    transition: all 0.2s ease-out;
}

.summary-sticky-views {
    margin: -4px 0px 0px;
    padding: 4px 0px 0px;
    top: -4px;
    z-index: 2;
    width: 100%;
    overflow: hidden;
}

.summary-sticky-dms {
    top: 28px;
    z-index: 2;
}

.summary-sticky-views-dms-separator {
    top: 56px;
    padding-top: 4px;
    padding-bottom: 4px;
    z-index: 2;
}

.summary-sticky-stream {
    top: 65px;
}

.intercept_stream {
    position: relative;
    top: -64px;
}

.sidebar-group__summary,
.sidebar-modal__header {
    height: 28px;
    box-sizing: content-box;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px 1px hsla(0, 0%, 0%, 0);
    width: 100%;
    overflow: hidden;
}
/* this is for buttons in the group row */
.sidebar-group__summary .sidebar-group__button{
    --sidebar-button-default-height: 24px;
}

.sidebar-modal__header {
    height: 32px;
}
/* this is for close button in the side bar modal */
.sidebar-modal__header .sidebar-group__button{
    --sidebar-button-default-height: 28px;
}

.sidebar-group__summary:hover,
.sidebar-group__summary:focus-visible {
    background-color: var(--color-sidebar-row-bg-hover);
    box-shadow: inset 0px 0px 0px 1px var(--color-sidebar-row-border-hover);
}

.sidebar-group__expander-area,
.sidebar-group__header-label {
    /* acts as an indicator of hover on icon or icon and label */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding-right: 10px;
    flex-grow: 2;
    flex-basis: 0;
    overflow: hidden;
}

.sidebar-group__expander-area:active {
    scale: 0.97;
}

.sidebar-group__header-label {
    margin-left: 16px;
    cursor: default;
}

.sidebar-group__summary-expander {
    width: 20px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-sidebar-group-label);
    opacity: 0.5;
    transition: var(--transition-sidebar-all-slow);
}

.icon-trangle-right {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: currentColor;
    mask-image: var(--icon-triangle-right);
    -webkit-mask-image: var(--icon-triangle-right);
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    transition: var(--transition-sidebar-all-medium);
}

.sidebar-group._expanded .sidebar-group__summary-expander .icon-trangle-right,
.sidebar-group-dms._expanded .sidebar-group__summary-expander .icon-trangle-right,
.sidebar-group-views._expanded .sidebar-group__summary-expander .icon-trangle-right {
    transform: rotate(90deg);
}

.sidebar-group__summary-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    text-transform: uppercase;
    font-family: var(--font-ss3);
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    padding-top: 2px;
    letter-spacing: 0.05em;
    color: var(--color-sidebar-group-label);
    opacity: 0.7;
    user-select: none;
    transition: var(--transition-sidebar-all-slow);
}

.sidebar-group__expander-area:hover .sidebar-group__summary-label,
.sidebar-group__expander-area:hover .sidebar-group__summary-expander {
    opacity: 0.9;
}

.sidebar-group__buttons {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    flex-shrink: 0;
    padding: 2px 0px 2px 2px;
    transition: var(--transition-sidebar-all-medium);
}

.sidebar-group__buttons._growing {
    flex-grow: 1;
}

.sidebar-group__buttons._show-on-hover {
    opacity: 0;
    display: none;
}

.sidebar-group__summary:hover .sidebar-group__buttons._show-on-hover {
    opacity: 1;
    display: flex;
}


.sidebar-group._expanded ._group_expanded_hidden {
    visibility: hidden;
    opacity: 0;
}

.sidebar-group__button {
    color: var(--color-clickable-icon);
    box-sizing: content-box;
    border: none;
    user-select: none;
    cursor: pointer;

    border-radius: 3px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    min-width: 30px;
    min-height: 22px;
    flex-grow: 1;
}


.sidebar-group__button._selected {
    color: var(--color-clickable-icon-hover);
    background-color: var(--color-sidebar-row-bg-selected);
}

/* additional lightness for selected with shadow, since background color isn't enough for such small button */
.dark .sidebar-group__button._selected {
    box-shadow: inset 0 0 30px hsl(0deg 0% 100% / 10%);
}

.sidebar-group__button:hover,
.sidebar-group__button:focus-visible {
    transition: none;
    color: var(--color-clickable-icon-hover);
    background-color: var(--color-clickable-icon-hover-bg);
}

.sidebar-group__button:active {
    scale: 0.92;
}

.sidebar-group__button .icon{
    /* we use half of the space without the height if an icon */
    margin-top: calc( (var(--sidebar-button-default-height) - 16px) / 2 );
}


.sidebar-group__button-badge {
    display: block;
    position: absolute;
    top: calc(50% - 11px);
    right: calc(50% - 13px);
    width: 6px;
    height: 6px;
    border-radius: 4px;
    background-color: var(--color-clickable-icon);
}

._expanded ._group_expanded_hidden {
    transition: opacity 0.2s;
    opacity: 0;
    visibility: hidden;
}

.sidebar-group .sidebar-group__details {
    overflow: hidden;
    animation: hide-details 200ms forwards;
    animation: hide-details 0ms forwards;
}

.sidebar-group._expanded .sidebar-group__details {
    animation: show-details 500ms forwards;
    animation: show-details 0ms forwards;
    padding-bottom: 8px;
}

.sidebar-modal-content .sidebar-group__details {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
}

@keyframes hide-details {
    0% {
        max-height: 100vh;
    }

    99% {
        max-height: 0;
    }

    100% {
        max-height: 0;
        visibility: hidden;
    }
}

@keyframes show-details {
    0% {
        visibility: visible;
        max-height: 0;
    }

    99% {
        max-height: 100vh;
    }

    100% {
        max-height: auto;
        /* overflow: auto; */
    }
}

.sidebar-row__buttons-wrapper {
    padding: 2px 2px 2px 1px;
    display: flex;
    gap: 1px;
}

.sidebar-row__buttons-wrapper._hidden {
    opacity: 0;
    visibility: hidden;
}

.sidebar-row__button-more {
    width: 24px;
    min-width: 24px;
    flex-grow: 0;
    opacity: 0;
    transition: none;
}

.sidebar-row__button-more:hover,
.sidebar-row__button-more:focus-visible {
    transition: none;
    color: var(--color-clickable-icon-hover);
    background-color: var(--color-clickable-icon-hover-bg);
    opacity: 1;
}

.sidebar-row__button-more:active {
    scale: 0.92;
}

/* .sidebar-row__button-more._hidden{
    visibility: hidden;
    pointer-events: none;
} */

.sidebar-group__summary:hover .sidebar-row__button-more,
.sidebar-group__summary:focus-visible .sidebar-row__button-more,
.sidebar-row:hover .sidebar-row__button-more,
.sidebar-row:focus-visible .sidebar-row__button-more {
    opacity: 0.85;
    transition: none;
}

.dark .sidebar-group__summary:hover .sidebar-row__button-more,
.dark .sidebar-group__summary:focus-visible .sidebar-row__button-more,
.dark .sidebar-row:hover .sidebar-row__button-more,
.dark .sidebar-row:focus-visible .sidebar-row__button-more {
    opacity: 1;
}

.sidebar-group__summary:hover .sidebar-row__button-more:hover,
.sidebar-row:hover .sidebar-row__button-more:hover {
    transition: none;
}

.left-sidebar ul,
.left-sidebar-modal ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    overflow: hidden;
    font-family: var(--font-ss3);
    font-size: 15px;
    line-height: 1.2;
    min-height: 26px;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    box-shadow: inset 0px 0px 0px 1px hsla(0, 0%, 0%, 0);
    user-select: none;
    cursor: pointer;
    position: relative;
    color: var(--color-sidebar-row-text);
    flex-shrink: 0;
}

.sidebar-row:hover,
.sidebar-row:focus-visible {
    background-color: var(--color-sidebar-row-bg-hover);
    /* border: 1px solid var(--color-sidebar-row-border-hover); */
    box-shadow: inset 0px 0px 0px 1px var(--color-sidebar-row-border-hover);
}

.sidebar-row._selected {
    background-color: var(--color-sidebar-row-bg-selected);
    font-weight: 600;
    color: var(--color-sidebar-row-selected-text);
}


.sidebar-row._muted {
    opacity: 0.6;
}

.sidebar-row a {
    padding: 4px 0px 4px 20px;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    gap: 2px;
    color: var(--color-sidebar-row-text);
    transition: var(--transition-sidebar-all-medium);
}

.sidebar-row a:hover,
.sidebar-row a:active {
    text-decoration: none;
    color: var(--color-sidebar-row-text);
    transition: var(--transition-sidebar-all-medium);
}

.sidebar-row a:active {
    scale: 0.98;
    transition: var(--transition-sidebar-all-fast);
}

.sidebar-row._selected a,
.sidebar-row._selected a:hover,
.sidebar-row._selected a:active,
.sidebar-stream._selected>.sidebar-row a,
.sidebar-stream._selected>.sidebar-row a:hover,
.sidebar-stream._selected>.sidebar-row a:active {
    color: var(--color-sidebar-row-selected-text);
}

.sidebar-modal-content .sidebar-row a {
    padding-left: 10px;
}

.sidebar-row._pinned:after {
    mask-image: var(--icon-pin);
    -webkit-mask-image: var(--icon-pin);
    flex-shrink: 0;
    background-color: currentColor;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;

    width: 16px;
    height: 16px;
    content: ' ';
    position: absolute;
    right: 5px;
    /* same as .sidebar-group__button .icon but we are adding 2px of border and padding */
    top: calc( (var(--sidebar-button-default-height) - 16px) / 2 + 2px) ;
    opacity: 0.4;
}

.dark .sidebar-row._pinned:after {
    opacity: 0.5;
}

.sidebar-row:hover._pinned:after {
    display: none;
}

.sidebar-row.sidebar-row__button-more-items a {
    padding-left: 21px;
}

.sidebar-row._no-extra-buttons a {
    /* we want space from the right be like other items with counter have */
    /* sidebar-row__buttons-wrapper +  sidebar-row__button-more inside it*/
    padding-right: 27px;
}

.sidebar-stream {
    flex-direction: column;
    border-radius: 4px;
}

.stream-name-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    overflow: hidden;
    width: 100%;
}

.sidebar-row.sidebar-row__button-more-items .sidebar-row__label {
    font-variant: all-small-caps;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: var(--color-clickable-icon);
    font-size: 19px;
    line-height: 16px;
    padding-bottom: 1px;
}

.sidebar-row.sidebar-row__button-more-items {}

.sidebar-row.sidebar-row__button-more-items:hover {
    background-color: var(--color-clickable-icon-hover-bg);
}

.sidebar-row.sidebar-row__button-more-items:hover .sidebar-row__label {
    color: var(--color-clickable-icon-hover);
}


.sidebar-row__label {
    padding: 0px;
    flex-grow: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    /* Firefox-specific properties */
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-line-clamp: 3;
    /* Number of lines to display */
    /* Common fallback */
    max-height: calc(1.2em * 3);
    /* Adjust based on font size and line height */
    word-break: break-word;
}

.sidebar-row__label .status-emoji {
    vertical-align: bottom;
}

.sidebar-row__icon {
    color: var(--color-clickable-icon);
    margin-right: 5px;
    margin-top: 0.5px
}

.unread-count,
.item-count {
    user-select: none;
    border-radius: 3px;
    background-color: var(--color-unread-count-bg);
    color: var(--color-unread-count-text);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 17px;
    font-feature-settings: "tnum";
    font-family: var(--font-ss3);
    padding: 0 4px;
    text-align: right;
    margin-top: 0.5px;
}

.item-count {
    background-color: transparent;
    color: var(--color-item-count-text);
}

.unread-count._hidden,
.item-count._hidden {
    visibility: hidden;
}

.sidebar-row._silent-counter .unread-count {
    color: var(--color-base-text) !important;
    font-size: 0;
    line-height: 8px;
    border-radius: 8px;
    margin-right: 3px;
    position: relative;
    top: 5px;
}

.sidebar-row._silent-counter:hover .unread-count {
    position: static;
    color: inherit !important;
    font-size: 13px;
    line-height: 17px;
    border-radius: 3px;
    margin-right: 0;
}

.unread-count-wrapper {
    padding-left: 1px;
    display: flex;
    align-items: center;
}

.sidebar-group__separator,
.sidebar-stream__separator {
    border: none;
    height: 1px;
    margin: 0;
    background-color: var(--color-separator-border);
    flex-grow: 1;
}

.sidebar-stream__separator-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 4px;
    padding: 0 18px;
    height: 20px;
}

.sidebar-stream__separator-label {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.04em;
    opacity: 0.4;
    user-select: none;
}

.sidebar-modal-content .sidebar-row{
    margin: 0 4px;
}

.sidebar-topics {
    position: relative;
}

.sidebar-modal-content .sidebar-modal-scrollable {
    overflow-y: auto;
    padding-bottom: 16px;
}

ul.sidebar-topics {
    padding-left: 32px;
}

.sidebar-modal-content ul.sidebar-topics {
    padding-left: 0px;
}

ul.sidebar-topics .sidebar-row a {
    padding-left: 11px;
}

.sidebar-modal-content ul.sidebar-topics .sidebar-row a {
    padding-left: 33px;
}

ul.sidebar-topics:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    bottom: 27px;
    left: 27px;
    border-left: 1px solid var(--color-topic-indent-border);
}

.sidebar-modal-content ul.sidebar-topics:before {
    display: none;
}


.sidebar-stream._selected {
    background-color: var(--color-sidebar-row-bg-selected);
}

.sidebar-stream._selected>.sidebar-row {
    font-weight: 600;
}

.topic-list__filter-wrapper{
    display: flex;
    margin: 4px;
    position: relative;
}
.topic-list__filter-wrapper .icon{
    position: absolute;
    z-index: 1;
    display: block;
    top: 50%; 
    transform: translateY(-50%);
    left: 10px;
    color: var(--color-base-text);
    opacity: 0.4;
} 

.topic-list__filter {
    width: 100%;
    padding: 4px 8px 4px 32px;
    background-color: white;
    color: #222;
    font-size: 15px;
    line-height: 19px;
    text-align: left;
    font-family: var(--font-ss3);
    font-style: normal;
    font-weight: 400;
    outline: none;
    border-radius: 3px;
    transition: all 0.1s linear;
    border: 1px solid rgba(20, 22, 31, 0.3);
}

.topic-list__filter:hover {
    border: 1px solid rgba(20, 22, 31, 0.6);
}

.topic-list__filter:active,
.topic-list__filter:focus {
    background-color: white;
    border: 1px solid rgba(20, 22, 31, 0.8);
    box-shadow: 0px 0px 6px rgba(46, 48, 56, 0.3);
}

.dark .topic-list__filter {
    background-color: hsl(225deg 6% 10%);
    color: hsl(0deg 0% 95%);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.dark .topic-list__filter:hover {
    background-color: hsl(225deg 6% 8%);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.dark.topic-list__filter:active,
.dark .topic-list__filter:focus {
    background-color: hsl(225deg 6% 7%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 5px rgb(255 255 255 / 40%);
}

.tabs{
    background-color: hsla(0, 0%, 0%, 0.07);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 1px;
}
.dark .tabs{
    background-color: hsla(0, 0%, 17%, 0.6);
}
.topic-tabs{
    width: 100%;
}
button.tab{
    flex-grow: 1;
    box-sizing: border-box;
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    line-height: 100%;
    min-height: 24px;
    color: var(--color-clickable-icon);
    transition: var(--transition-sidebar-all-fast);
}
button.tab:hover{
    border: 1px solid rgba(0, 0, 0, 0.25);
}
button.tab:active{
    transform: scale(0.96);
}
button.tab._selected{
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.dark button.tab:hover{
    border: 1px solid hsla(0, 0%, 100%, 0.15);
}
.dark button.tab._selected{
    background-color: hsl(0, 0%, 20%);
    border: 1px solid hsla(0, 0%, 100%, 0.3);
}