:root{
    --right-sidebar-width: 254px;
}
.column-right {
    width: var(--right-sidebar-width);
    max-width: var(--right-sidebar-width);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: visible;
    display: flex;
    padding-top: var(--header-height);
    -webkit-user-drag: none;
}

.right-sidebar {
    /* TODO remove ------------------------------------------------------- */
    /* display: none; */



    position: fixed;
    width: var(--right-sidebar-width);
    height: calc(100% - var(--header-height));
    overflow: hidden;
    box-sizing: border-box;
    color: var(--color-base-text);
    -webkit-user-drag: none;
    opacity: 0;
    transition: opacity 0.35s ease-in;
}
.right-sidebar._revealed{
    opacity: 1;
}
.right-sidebar._blurred{
    user-select: none;
    pointer-events: none;
}

.right-sidebar-scroll-container{
    height: 100%;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.summary-sticky-users {
    /* -4 and 4 is because we don't want scrolled content underneath it to be visible */
    margin: -4px 0px 0px;
    padding: 4px 0px 0px;
    top: -4px;
    z-index: 2;
    width: 100%;
}

.summary-sticky-users-narrower{
    top: 28px;
}
.summary-sticky-all-users{
    top:56px
}

/* overriding leftsidebar styles to make _minimal version */
.sidebar-group__summary._as_separator{
    justify-content: center;
    border-radius: 0;
}
.sidebar-group__summary._as_separator:hover{
    justify-content: center;
    background: var(--color-main-bg);
    box-shadow: initial;
}
.sidebar-group__summary._as_separator>.sidebar-group__expander-area {
    flex-grow: 1;
    flex-basis: unset;
    padding: 0 4px;

}
.sidebar-group__summary._as_separator .sidebar-group__summary-expander{ 
    width: 16px;
}
.sidebar-group__summary._as_separator .sidebar-group__summary-label,
.sidebar-group__summary._as_separator .item-count,
.sidebar-group__summary._as_separator .item-count-separator{
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.04em;
    opacity: 0.5;
    user-select: none;
    text-transform: none;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: var(--color-sidebar-group-label);
    transition: var(--transition-sidebar-all-slow);
}
.sidebar-group__summary._as_separator .item-count{
    margin-right: 1ch;
}
.sidebar-group__summary._as_separator:hover .sidebar-group__summary-label,
.sidebar-group__summary._as_separator:hover .item-count,
.sidebar-group__summary._as_separator:hover .item-count-separator{
    opacity: 1;
}
.sidebar-group__summary._as_separator:hover .sidebar-group__separator{
    background-color: var(--color-sidebar-group-label);
    opacity: 0.5;
    transition: var(--transition-sidebar-all-slow);
}
/* --- */

.right-sidebar .simplebar-content-wrapper{
    padding: 4px 8px 18px 2px;
    outline-offset: -1px;
}

.right-sidebar .simplebar-track.simplebar-vertical {
    width: 8px;
    transition: all 0.4s linear;
}

.right-sidebar .simplebar-track.simplebar-vertical.simplebar-hover {
    background-color: hsla(0, 0%, 0%, 0.08);
    transition: all 0.05s 0.15s linear;
    box-shadow: 0 0 1px hsl(0deg 0% 0%);
}

.dark .right-sidebar .simplebar-track.simplebar-vertical.simplebar-hover{
    background-color: hsla(0, 0%, 100%, 0.05);
    transition: all 0.05s 0.15s linear;
    box-shadow: 0 0 1px hsl(0deg 0% 90%);
}

.right-sidebar .simplebar-scrollbar:before {
    background-color: hsla(0, 0%, 0%, 0.36);
}

.dark .right-sidebar .simplebar-scrollbar:before {
    background-color: hsla(0, 0%, 100%, 0.33);
}

.simplebar-scrollbar.simplebar-visible:before {
    opacity: 1;
}


/* related to .icon-trangle-right frmo left-sidebar.css */
.sidebar-group._expanded .sidebar-group__summary-expander .icon-trangle-right,
.sidebar-group-users-narrower._expanded .sidebar-group__summary-expander .icon-trangle-right{
    transform: rotate(90deg);
}
.sidebar-group._expanded._overscrolled .sidebar-group__summary-expander .icon-trangle-right,
.sidebar-group-users-narrower._expanded._overscrolled .sidebar-group__summary-expander .icon-trangle-right {
    transform: rotate(0deg);
}

.sidebar-group__header{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
    flex-grow: 2;
    flex-basis: 0;
    max-width: 100%;
    overflow: hidden;
    cursor: auto;
    transition: all 200ms ease-out;
}
.sidebar-group-users .sidebar-group__header._hidden{
    padding-left: 0;
    flex-grow: 0;
    flex-shrink: 2;
    max-width: 0;
}
.sidebar-group-users.sidebar-group__summary:hover {
    background-color: transparent;
    box-shadow: none;
}
.sidebar-row__button-more._visible{
    opacity: 1;
    visibility: visible;
}
.sidebar-group-users{
    gap: 4px;
    overflow: visible;
}

.sidebar-group-users .sidebar-group__header{
    flex-grow: initial;
    flex-basis: initial;
    padding-left: 6px;
    padding-right: 4px;
    max-width: 50%;
}

.user-filter-wrapper{
    margin: 2px 0px 1px 0px;
    flex-grow: 1;
    opacity: 0.75;
}
.dark .user-filter-wrapper{
    opacity: 1;
}
.user-filter-wrapper:hover,
.user-filter-wrapper:focus-within{
    opacity: 1;
}

.user-filter-wrapper.sidebar-list__filter-wrapper .icon-search{
    left: 5px
}

.user-list__filter.sidebar-list__filter{
    padding-left: 24px;
}

.right-sidebar .item-count-wrapper{
    padding-right: 4px;
}

.right-sidebar .sidebar-row a {
    padding-left: 1px;
}

.sidebar-row.sidebar-row__button-more-users .sidebar-row__label {
    color: var(--color-clickable-icon);
}
.sidebar-row.sidebar-row__button-more-users:hover {
    background-color: var(--color-clickable-icon-hover-bg);
}

.sidebar-row.sidebar-row__button-more-users:active {
    background-color: var(--color-clickable-icon-hover-bg-active);
}

.sidebar-row.sidebar-row__button-more-users:hover .sidebar-row__label {
    color: var(--color-clickable-icon-hover);
}
